.carousel-container {
  position: relative;
  width: 100%;
  max-width: 50vw ;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.carousel-wrapper {
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  flex-direction: row;
  transition: transform 0.6s ease-in-out;
  width: 100%;
  align-items: center;
  align-content: center;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  padding: 0px 5px;
}

.carousel-btn {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  transition: background 0.3s;
}

.carousel-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}

.carousel-dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 4px;
  background: gray;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background: black;
}

@media (max-width: 768px) {
    .carousel-container {
        max-width: 320px;
    }
}